<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        {% block style %}
        {# Это общая css для всех страниц #}
        {#<link rel="stylesheet" href="style.css">#}
        {# Но каждая страница может содержать доп.уникальные css #}
        {% endblock %}
    </head>    
{% endblock %}

<body>   
{#  Содержимое этого блока уникально на каждой странице #}
{% block content %}

{% include 'inc-1.html' %}

<footer>
    <i>Это сайт пока в разработке ...</i>
</footer>
{% endblock %}
</body>
</html>