<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items list</title>
</head>
<body>
    <header>
        / <a href="/"> Home </a> / <a href="/items"> Items </a> / <a href="/about"> About </a>        
    </header>
    <h1>Список товаров</h1>
    <table border="1" cellpadding="20" cellspacing="20" rules="all">
        <tr>
            {% for item in items %}
            <td> 
                <b><a href="/item/{{ item.id }}">{{ item.name }}</a></b>
                <p><i>{{item.caption}}</i>
                <p>Количество товара: <b>{{item.count}}</b>
            </td> 
            {% endfor %}
        </tr>
    </table>
    
    <ol>
        
    </ol>   

</body>
</html>