{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% block style%}
        {{ block.super}}
            <style>
            .this-product {
             font-size: 30px; 
            }
            </style>
    {% endblock %}
    {{ block.super }}
    <title>Страница товара</title>
{% endblock %}

{% block content %}
<img width="50px" src="{% static "images/django.svg" %}">
{% include 'inc-1.html' %}
<h2> Имя: {{ item.name }} </h2>
    <div>
        Бренд: {{ item.brand }}
    </div>
    <div>
        Количество: {{ item.count | default:"Товар отсутствует" }}
    </div>       
    <div>
        Описание: {{ item.caption }}
    </div>
    <div>
        <h3>Доступные цвета:</h3> 
        {% if colors %}
            {% for my_col in colors %}
            <span class="this-product"><font color="{{ my_col.name }}">&#9632</span>
            {% endfor %}
        {% else %}
        Данные по цветам отсутствуют
        {% endif%}
    </div>

    <p> <a href="{% url 'single-item' %}"> Назад к списку товаров </a></p>
{% endblock %}